.customer-care .desktop .content{
    padding:15vh 10vw;
    overflow-x:hidden;
    display:grid;
    grid-template-columns:1fr 1fr;
    background:#f5f5f5;
}

.customer-care .desktop .text{
    padding-top:5vh;
}
.customer-care .desktop .text h1{
    font-size:2.5vw;
    font-weight:bold;
    margin-bottom:9vh;
}
.customer-care .desktop .text .tab{
    background:#fff;
    width:100%;
    padding:2vh 1.5vw;
    margin-bottom:4vh;
    border-radius:10px;
    font-size:.9vw;
}
.customer-care .desktop .text .tab label{
    font-weight:bold;
    font-size:1.1vw;
    color:rgb(175, 126, 0);
}




.customer-care .desktop .content .form{
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(177, 177, 177, 0.19);
    border-radius:10px;
    padding:7.5vh 2.5vw;
    background:#fff;
}
.customer-care .desktop .content .form .tab{
    margin-bottom:5vh;
}
.customer-care .desktop .content .form label{
    font-size:.85vw;
}
.customer-care .desktop .content .form input,
.customer-care .desktop .content .form textarea{
    font-size:.85vw;
    width:100%;
    background:rgb(255, 244, 217);
    border:1px #dadada solid;
    padding:2vh 1vw;
    border-radius:5px;
}
.customer-care .desktop .content .form textarea{
    height:7.5vh;
}
.customer-care .desktop .content .form button{
    padding:2vh 1vw;
    background:rgb(175, 126, 0);
    color:#fff;
    text-decoration:none;
    outline:none;
    border:none;
    transition:.5s ease-in-out;
    border-radius:5px;
}
.customer-care .desktop .content .form button:hover{
    padding:2.25vh 1.25vw;
    background:rgb(123, 90, 7);
    /* border:6px rgba(0,0,0,.1) solid; */
}

.customer-care .desktop .content .specific{
    color:#000;
}