.desktop{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    /* overflow-x:hidden; */
    height:auto;
}

.desktop .header{
    height:55vh;
    background:rgb(166, 192, 253);
}
.desktop .header .background-overlay{
    display:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.4);
}
.desktop .header .text{
    position:absolute;
    font-size:3.5vw;
    top:25vh;
    left:10vw;
}
.desktop .header .text span{
    color:#fff;
    padding:3vh 3vw;
}

.desktop .header .text span.primary{
    z-index:10;
    display:block;
    margin-bottom:-9vh;
}

.desktop .container-text{
    padding:15vh 15vw;
    background:#fff;
}
.desktop .container-text-two{
    padding:15vh 15vw;
    background:#f5f5f5;
}
.desktop .content{
    padding:0 0;
    display:grid;
    grid-template-columns:1fr 1fr;
    margin:0;
}
.desktop .content h1{
    color:#000;
    font-size:4vw;
}
.desktop .content button{
    padding:2vh 1vw;
    background:rgb(182, 164, 60);
    color:#fff;
    text-decoration:none;
    outline:none;
    border:none;
    transition:.5s ease-in-out;
    border-radius:5px;
}
.desktop .content button:hover{
    padding:2.25vh 1.25vw;
    background:#000;
}
.desktop .content p{
    padding:2vh 0;
}
.desktop .container-text .content-left .text{
    padding-right:5vw;
}
.desktop .container-text .content-right .text{
    padding-left:5vw;
}
.desktop .container-text .image-collage{
    display:grid;
    grid-template-columns:1fr 1.25fr 1fr;
    margin-top:5vh;
}
.desktop .container-text .image-collage div{
    width:95%;
    height:50vh;
    border-radius:5px;
}


.desktop .testimonial{
    text-align:center;
    margin:0;
    padding:10vh 5vw;
    background:rgb(182, 164, 60);
}
.desktop .testimonial h1,
.desktop .success-story h1,
.desktop .logo-carousel h1{
    color:#000;
    font-size:3vw;
}
.desktop .testimonial .break,
.desktop .success-story .break,
.desktop .logo-carousel .break{
    height:7.5px;
    width:5vw;
    margin:2vh auto;
    background:#000;
}
.desktop .testimonial .caption{
    padding:5vh 30vw 10vh 15vw;
    color:#000;
    text-align:left;
}
.desktop .testimonial .caption .avatar{
    width:10vw;
    height:10vw;
    border-radius:10vw;
    margin:auto;
    border:3px #000 solid;
}
.desktop .testimonial .caption h4{
    margin:3vh 0 2vh 0;
    color:#000;
    font-size:5vw;
    text-align:left;
}


.desktop .success-story-container{
    background:rgb(182, 164, 60);
}
.desktop .success-story{
    display:grid;
    grid-template-columns:1fr 3fr;
}
.desktop .success-story .caption{
    padding:0vh 7.5vw 7.5vh 7.5vw;
}
.desktop .success-story h1{
    font-size:4vw;
    color:#000;
}
.desktop .success-story h4{
    color:#000;
    margin-bottom:2vh;
}


.desktop .container-upload{
    padding:0 10vw;
}
.desktop .container-upload h1{
    font-size:3vw;
    color:#000;
    text-align:center;
    margin-bottom:7.5vh;
}


.desktop .logo-carousel{
    text-align:center;
    margin:0;
    padding:10vh 5vw;
    background:#fff;
}
.desktop .logo-carousel .logo-carousel-container{
    padding:10vh 5vw;
    display:grid;
    text-align:center;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.desktop .logo-carousel .logo-carousel-container .logo{
    width:70%;
    margin:auto;
}


.desktop .statistics{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    text-align:center;
}
.desktop .statistics h2{
    font-size:2.5vw;
    font-weight:bold;
}
.desktop .statistics .value{
    color:#000;
}








.desktop .instructions{
    display:none;
}
.desktop .instructions-toggle{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:400;
    display:block;
    text-align:center;
}
.desktop .instructions-toggle .background{
    background:rgba(0,0,0,.8);
    width:100vw;
    height:100vh;
}
.desktop .instructions-toggle .inner{
    background:#fff;
    height:90vh;
    position:absolute;
    top:5vh;
    width:30vw;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(177, 177, 177, 0.19);
    left:35vw;
    margin:auto;
    padding:5vh 2.5vw;
    text-align:left;
}
.desktop .instructions-toggle .inner-inner{
    width:100%;
    height:100%;
    overflow-y:scroll;
    padding:5vw 5vh;
}
.desktop .instructions-toggle .top-fade{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:10vh;
    border-radius:15px 15px 0 0;
    background: linear-gradient(to bottom, #fff 0%, rgba(0,0,0,0) 100%);
}
.desktop .instructions-toggle .bottom-fade{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:10vh;
    border-radius:0 0 15px 15px;
    background: linear-gradient(to top, #fff 0%, rgba(0,0,0,0) 100%);
}

.desktop .instructions-toggle .head{
    color:rgb(175, 126, 0);
    font-weight:bold;
    margin-bottom:3vh;
    font-size:1.1vw;
}
.desktop .instructions-toggle ol{
    font-size:1vw;
}
.desktop .instructions-toggle ol li{
    margin-bottom:6vh;
}
.desktop .instructions-toggle ol .text{
    margin-bottom:2vh;
}
.desktop .instructions-toggle ol img{
    width:100%;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.desktop .instructions-toggle ol img:hover{
    color: #424242;
    opacity: 1;
    transform: scale(.7);
    -ms-transform: scale(.7); /* IE 9 */
    -webkit-transform: scale(.7); /* Safari and Chrome */
    position:fixed;
    top:0;
    left:0;
}